<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password_digest %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<% if @user.pictures.any? %>
	<div class="row">
		<% @user.pictures.each do |picture| %>
	      <%= image_tag(picture.url, :class => "col-md-1")%>
	 	<%end%>
	</div>
<%end%>
