<%= form_for(@picture) do |f| %>
  <%= render 'partials/errors', object: @picture %>

  <div class="field">
    <%= f.label :name, 'Name your photo:' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url, 'Url (from imgur)' %><br>
    <%= f.text_field :url %>
  </div>

  <% unless @picture.new_record? %>
    <div class="field">
      <%= f.label :user_id %><br>
      <%= f.number_field :user_id %>
    </div>
    <div class="field">
      <%= f.label :rating %><br>
      <%= f.number_field :rating %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit @picture.new_record? ? "Edit Photo" : "Upload Photo", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
