<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @picture.name %>
</p>

<p>
  <%= image_tag(@picture.url, :class => "thumbnail")%>
</p>

<p>
  <strong>User:</strong>
  <%= @picture.user ? @picture.user.username : "Anonymous" %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @picture.rating %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
