<!DOCTYPE html>
<html>
<head>
  <title>PhotoCombat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>

</head>
  	<body>
    	<%= render 'layouts/navbar'%>

      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>"><%= value %></div>
      <% end %>

  		<%= yield %>
  		<%= render 'layouts/footer' %>
  	</body>
</html>


